In [1]:
import pandas as pd
import sqlite3

## To work on sqlite
### you need to load dataset and create a database

pip install ipython-sql 

To install ipython-sql you need to deactivate the venv and again activate the venv once the installation is finsihed.

<!-- # Load CSV file
df = pd.read_csv('your_file.csv')  # Replace 'your_file.csv' with the actual filename

# Create an SQLite database
engine = create_engine('sqlite:///my_database.sqlite')
df.to_sql('table_name', con=engine, if_exists='replace', index=False)  # Replace 'table_name' as desired -->

## Connect to the Database in Jupyter Notebook

Load the SQL Extension:

<!-- %load_ext sql
 -->

Connect to the New SQLite Database: Connect to the database you just created. Assuming my_database.sqlite is in your working directory:

<!-- %sql sqlite:///my_database.sqlite
 -->


 Query the Database: Now you can write SQL queries directly in Jupyter cells. For example, to view the first few rows of the table:

<!-- %sql SELECT * FROM table_name LIMIT 5;
 -->


 if you are still confused see the comments

In [15]:
df = pd.read_csv("../earth quake/kavrepalanchok_raw.csv")

In [16]:
df.head()

,b_id,building_id,count_floors_pre_eq,count_floors_post_eq,age_building,plinth_area_sq_ft,height_ft_pre_eq,height_ft_post_eq,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,condition_post_eq,superstructure,damage_grade
0,87473,87473,2,1,15,382,18,7,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,TImber/Bamboo-Mud,Not attached,Rectangular,Damaged-Used in risk,"Stone, mud mortar",Grade 4
1,87479,87479,1,0,12,328,7,0,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,Damaged-Rubble clear,"Stone, mud mortar",Grade 5
2,87482,87482,2,1,23,427,20,7,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,TImber/Bamboo-Mud,Not attached,Rectangular,Damaged-Not used,"Stone, mud mortar",Grade 4
3,87491,87491,2,1,12,427,14,7,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,TImber/Bamboo-Mud,Not attached,Rectangular,Damaged-Not used,"Stone, mud mortar",Grade 4
4,87496,87496,2,0,32,360,18,0,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,TImber/Bamboo-Mud,Not attached,Rectangular,Damaged-Rubble clear,"Stone, mud mortar",Grade 5

In [17]:
df.shape

(76533, 18)

In [18]:
df.columns

Index(['b_id', 'building_id', 'count_floors_pre_eq', 'count_floors_post_eq',
       'age_building', 'plinth_area_sq_ft', 'height_ft_pre_eq',
       'height_ft_post_eq', 'land_surface_condition', 'foundation_type',
       'roof_type', 'ground_floor_type', 'other_floor_type', 'position',
       'plan_configuration', 'condition_post_eq', 'superstructure',
       'damage_grade'],
      dtype='object')

In [19]:
# Create database called kavrepalanchwok
%load_ext sql
%sql sqlite:///kavrepalanchowk.sqlite

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [20]:
%%sql
CREATE Table kavrepalanchowk(
    b_id , 
    building_id, 
    count_floors_pre_eq,
    count_floors_post_eq,
    age_building,
    plinth_area_sq_ft,
    height_ft_pre_eq,
    height_ft_post_eq, 
    land_surface_condition,
    foundation_type,
    roof_type, 
    ground_floor_type,
    other_floor_type,
    position,
    plan_configuration,
    condition_post_eq,
    superstructure,
    damage_grade

)

 * sqlite:///kavrepalanchowk.sqlite
(sqlite3.OperationalError) table kavrepalanchowk already exists
[SQL: CREATE Table kavrepalanchowk(
    b_id ,
    building_id,
    count_floors_pre_eq,
    count_floors_post_eq,
    age_building,
    plinth_area_sq_ft,
    height_ft_pre_eq,
    height_ft_post_eq,
    land_surface_condition,
    foundation_type,
    roof_type,
    ground_floor_type,
    other_floor_type,
    position,
    plan_configuration,
    condition_post_eq,
    superstructure,
    damage_grade

)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [21]:
df.head()

,b_id,building_id,count_floors_pre_eq,count_floors_post_eq,age_building,plinth_area_sq_ft,height_ft_pre_eq,height_ft_post_eq,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,condition_post_eq,superstructure,damage_grade
0,87473,87473,2,1,15,382,18,7,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,TImber/Bamboo-Mud,Not attached,Rectangular,Damaged-Used in risk,"Stone, mud mortar",Grade 4
1,87479,87479,1,0,12,328,7,0,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,Damaged-Rubble clear,"Stone, mud mortar",Grade 5
2,87482,87482,2,1,23,427,20,7,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,TImber/Bamboo-Mud,Not attached,Rectangular,Damaged-Not used,"Stone, mud mortar",Grade 4
3,87491,87491,2,1,12,427,14,7,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,TImber/Bamboo-Mud,Not attached,Rectangular,Damaged-Not used,"Stone, mud mortar",Grade 4
4,87496,87496,2,0,32,360,18,0,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,TImber/Bamboo-Mud,Not attached,Rectangular,Damaged-Rubble clear,"Stone, mud mortar",Grade 5

In [22]:
# connect to sqlite
conn = sqlite3.connect("kavrepalanchowk.sqlite")

In [23]:
# insert the data into "kavrepalanchowk" table
df.to_sql("kavrepalanchowk", conn, if_exists="append", index=False)

# close the connection
# conn.close()

76533

In [24]:
%%sql
select * from kavrepalanchowk
limit 5

 * sqlite:///kavrepalanchowk.sqlite
Done.

[(87473, 87473, 2, 1, 15, 382, 18, 7, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 'Damaged-Used in risk', 'Stone, mud mortar', 'Grade 4'),
 (87479, 87479, 1, 0, 12, 328, 7, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'Not applicable', 'Not attached', 'Rectangular', 'Damaged-Rubble clear', 'Stone, mud mortar', 'Grade 5'),
 (87482, 87482, 2, 1, 23, 427, 20, 7, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 'Damaged-Not used', 'Stone, mud mortar', 'Grade 4'),
 (87491, 87491, 2, 1, 12, 427, 14, 7, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 'Damaged-Not used', 'Stone, mud mortar', 'Grade 4'),
 (87496, 87496, 2, 0, 32, 360, 18, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 'Damaged-Rubble clear', 'Stone, mud mortar', 'Grade 5')]

In [25]:
%%sql
select distinct(roof_type)
from kavrepalanchowk

 * sqlite:///kavrepalanchowk.sqlite
Done.

[('Bamboo/Timber-Light roof',), ('Bamboo/Timber-Heavy roof',), ('RCC/RB/RBC',)]

In [32]:
%%sql
SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:///kavrepalanchowk.sqlite
Done.

[('kavrepalanchowk',)]

In [33]:
query = '''select * from kavrepalanchowk
'''

In [43]:
# `wrangle` function here
def wrangle(df_path):
    df = pd.read_sql(query, conn, index_col="b_id")

    # drop all the leaky col
    col_drop = [col for col in df.columns if "post_eq" in col]

    # take damage_grade last value and extract damage grade greater than 3 
    df['damage_grade'] = df['damage_grade'].str[-1].astype(int)
    df['severe_damage'] = (df['damage_grade'] > 3).astype(int)

   # since we filtered damage grade and kept in severe_damage col, we don't need damage grade column
    col_drop.append("damage_grade")

      # drop multicolinearility
    col_drop.append("count_floors_pre_eq")


    # we can see building_id has large number of unique value which means high cardinality, it should be dropped
    col_drop.append("building_id")

    df.drop(columns=col_drop)

    return df

In [44]:
df = wrangle("kavrepalanchowk.sqlite")
df.head()

,building_id,count_floors_pre_eq,count_floors_post_eq,age_building,plinth_area_sq_ft,height_ft_pre_eq,height_ft_post_eq,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,condition_post_eq,superstructure,damage_grade,severe_damage
b_id,,,,,,,,,,,,,,,,,,
87473,87473,2,1,15,382,18,7,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,TImber/Bamboo-Mud,Not attached,Rectangular,Damaged-Used in risk,"Stone, mud mortar",4,1
87479,87479,1,0,12,328,7,0,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,Damaged-Rubble clear,"Stone, mud mortar",5,1
87482,87482,2,1,23,427,20,7,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,TImber/Bamboo-Mud,Not attached,Rectangular,Damaged-Not used,"Stone, mud mortar",4,1
87491,87491,2,1,12,427,14,7,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,TImber/Bamboo-Mud,Not attached,Rectangular,Damaged-Not used,"Stone, mud mortar",4,1
87496,87496,2,0,32,360,18,0,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,TImber/Bamboo-Mud,Not attached,Rectangular,Damaged-Rubble clear,"Stone, mud mortar",5,1

In [45]:
df.isnull().sum()

building_id               0
count_floors_pre_eq       0
count_floors_post_eq      0
age_building              0
plinth_area_sq_ft         0
height_ft_pre_eq          0
height_ft_post_eq         0
land_surface_condition    0
foundation_type           0
roof_type                 0
ground_floor_type         0
other_floor_type          0
position                  0
plan_configuration        0
condition_post_eq         0
superstructure            0
damage_grade              0
severe_damage             0
dtype: int64

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 306132 entries, 87473 to 163998
Data columns (total 18 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   building_id             306132 non-null  int64
 1   count_floors_pre_eq     306132 non-null  int64
 2   count_floors_post_eq    306132 non-null  int64
 3   age_building            306132 non-null  int64
 4   plinth_area_sq_ft       306132 non-null  int64
 5   height_ft_pre_eq        306132 non-null  int64
 6   height_ft_post_eq       306132 non-null  int64
 7   land_surface_condition  306132 non-null  object
 8   foundation_type         306132 non-null  object
 9   roof_type               306132 non-null  object
 10  ground_floor_type       306132 non-null  object
 11  other_floor_type        306132 non-null  object
 12  position                306132 non-null  object
 13  plan_configuration      306132 non-null  object
 14  condition_post_eq       306132 non-null  object
 15  superstructure          306132 non-null  object
 16  damage_grade            306132 non-null  int64
 17  severe_damage           306132 non-null  int64
dtypes: int64(9), object(9)
memory usage: 44.4+ MB

In [47]:
df.describe()

,building_id,count_floors_pre_eq,count_floors_post_eq,age_building,plinth_area_sq_ft,height_ft_pre_eq,height_ft_post_eq,damage_grade,severe_damage
count,306132.000000,306132.000000,306132.000000,306132.000000,306132.000000,306132.000000,306132.000000,306132.000000,306132.000000
mean,125733.000000,2.211373,1.585956,34.428273,429.332288,18.105628,13.210654,3.532672,0.548704
std,22093.210159,0.677255,1.105906,99.409956,194.032826,5.781803,9.459378,1.190766,0.497623
min,87467.000000,1.000000,0.000000,0.000000,70.000000,6.000000,0.000000,1.000000,0.000000
25%,106600.000000,2.000000,1.000000,12.000000,320.000000,15.000000,6.000000,3.000000,0.000000
50%,125733.000000,2.000000,2.000000,20.000000,400.000000,18.000000,15.000000,4.000000,1.000000
75%,144866.000000,3.000000,2.000000,32.000000,495.000000,21.000000,20.000000,4.000000,1.000000
max,163999.000000,9.000000,8.000000,999.000000,4795.000000,99.000000,99.000000,5.000000,1.000000

We have cleaned the dataset. Next we have to perform EDA.