In [40]:
# import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

import os

In [41]:
# Navigate one level up to the parent directory, this command changes your working directory to housing_in_mexico 
os.chdir('..')

In [42]:
# Read the datasets from data directory

path1 = os.path.join('data', 'mexico_housing_datasets','mexico-real-estate-1.csv' )
path2 = os.path.join('data', 'mexico_housing_datasets','mexico-real-estate-2.csv' )
path3 = os.path.join('data', 'mexico_housing_datasets','mexico-real-estate-3.csv' )

In [43]:
df1 = pd.read_csv(path1)
df2 = pd.read_csv(path2)
df3 = pd.read_csv(path3)

FileNotFoundError: [Errno 2] No such file or directory: 'data/mexico_housing_datasets/mexico-real-estate-1.csv'

In [44]:
# See what is inside df1

df1.head()

  property_type             state        lat         lon  area_m2  price_usd
0         house  Estado de México  19.560181  -99.233528      150   67965.56
1         house        Nuevo León  25.688436 -100.198807      186   63223.78
2     apartment          Guerrero  16.767704  -99.764383       82   84298.37
3     apartment          Guerrero  16.829782  -99.911012      150   94308.80
5         house           Yucatán  21.052583  -89.538639      205  105191.37

In [45]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 583 entries, 0 to 699
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   property_type  583 non-null    object
 1   state          583 non-null    object
 2   lat            583 non-null    float64
 3   lon            583 non-null    float64
 4   area_m2        583 non-null    int64
 5   price_usd      583 non-null    float64
dtypes: float64(3), int64(1), object(2)
memory usage: 31.9+ KB

In [46]:
df1.shape

(583, 6)

In [47]:
# Check null values
df1.isnull().sum()

property_type    0
state            0
lat              0
lon              0
area_m2          0
price_usd        0
dtype: int64

We can see some null values in lat and lon column

In [48]:
# Let's simply drop those null values

df1 = df1.dropna()
df1.isnull().sum()

property_type    0
state            0
lat              0
lon              0
area_m2          0
price_usd        0
dtype: int64

In [49]:
# clean price_usd column

df1['price_usd'] = df1['price_usd'].astype(str).str.replace('$', '', regex=True).astype(str).str.replace(',', '', regex=True).astype('float')

In [50]:
df1.head()

  property_type             state        lat         lon  area_m2  price_usd
0         house  Estado de México  19.560181  -99.233528      150   67965.56
1         house        Nuevo León  25.688436 -100.198807      186   63223.78
2     apartment          Guerrero  16.767704  -99.764383       82   84298.37
3     apartment          Guerrero  16.829782  -99.911012      150   94308.80
5         house           Yucatán  21.052583  -89.538639      205  105191.37

### df1 is clean, Now let's move on to df2